* {
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 500px;
    margin-left: 70px;
    margin-top: 80px;
    font-weight: 500;
    color: #000000;
    width: 500px;
}

.edit-product-form {
margin-left: 20%;
}

.topImg {
    position: absolute;
    width: 221px;
    height: 90px;
    left: 1174px;
    top: 40px;
}

.input-title {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.category {
    display: flex;
}

.input-feild {
    padding: 5px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    width: 140%;
    outline: none;
}

.input-Location {
    padding: 5px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    width: 100%;
    outline: none;
}

.select {
    width: 100%;
}

.select option {
    width: 50%;
}

.selectlocation {
    width: 100%;
}

.body {
    margin-left: 20%;
}

.dis {
    height: 100px;
    box-sizing: border-box;
}

.UploadImg {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    cursor: zoom-in;
}

.btn {
    background-color: #26A5B9;
    color: white;
    cursor: pointer;
}

.btn :hover {
    background-color: gray;
    color: black;
}

.btn2 {
    justify-content: right;
    margin-left: 40%;
}

.images {
    overflow: auto;
    display: flex;
}

.images::-webkit-scrollbar {
    height: 5px;
    cursor: pointer;
}

@media only screen and (max-width: 765px) {
    .topImg {
        display: none;
    }

    .category {
        display: block;
    }

    .body {
        margin-left: 1%;
    }
}