<div class="container-fluid">
 <body>
<div class="d-flex" id="wrapper"> 
  <!-- Sidebar -->
      <div class="col-md-3 col-lg-2 bg-sidebar border-right" id="sidebar-wrapper"  [ngClass]="status ? 'hide' : 'show'">
        <span ><img class="logo-top"  [routerLink]="['/']" title="Online Sell and Buy" src="assets/Images/logo-w.png"></span> 
        <br/><br/>
        <div class="list-group">
          <a [routerLink]="['/dashboard/dashboard']"  [routerLinkActive]="['boxclass']"   class="item-sidebar d-pointer ">
            <span><i class="fa fa-tachometer title-m-l" aria-hidden="true"></i></span>
            <span class="title-m-l">Dashboard</span> 
          </a>
          <a [routerLink]="['/dashboard/products']"  [routerLinkActive]="['boxclass']"   class="item-sidebar d-pointer ">
            <span><i class="fa fa-product-hunt title-m-l"></i></span>
            <span class="title-m-l ">Products</span> 
          </a>
          <a [routerLink]="['/dashboard/categories']"  [routerLinkActive]="['boxclass']"   class="item-sidebar d-pointer ">
            <span><i class="fa fa-th-large title-m-l" aria-hidden="true"></i></span>
            <span class="title-m-l">Categories</span> 
          </a>
          <a [routerLink]="['/dashboard/visitor-list']" [routerLinkActive]="['boxclass']"   class="item-sidebar d-pointer">
            <span><i class="fa fa-user-circle-o title-m-l" aria-hidden="true"></i></span>  
          <span class="title-m-l">Visitors</span> 
          </a>
          <a [routerLink]="['/dashboard/profile']" [routerLinkActive]="['boxclass']"   class="item-sidebar d-pointer">
            <span><i class="fa fa-user-o title-m-l" aria-hidden="true"></i></span>  
          <span class="title-m-l">Profile</span> 
          </a>
          <a [routerLink]="['/dashboard/sub-categories']"  [routerLinkActive]="['boxclass']"   class="item-sidebar d-pointer ">
            <span><i class="fa fa-th-large title-m-l" aria-hidden="true"></i></span>
            <span class="title-m-l">Sub Categories</span> 
          </a>
          <br/><br/><br/><br/><br/><br/><br/><br/><hr/>
          
          <a [ngClass]="Menu['Logout'] ? 'boxclass' : 'item-sidebar'" id="logout-btn" (click)="Logout()" class="list-group-item list-group-item-action d-pointer "> <span><i class="fa fa-sign-out" aria-hidden="true"></i></span><span class="title-m-l">Logout</span></a>
        </div>
      </div> 
      <div class="col-md-9 col-lg-10">
        <!-- <img title="Menu" width="50" class="show-menu" (click)="clickEvent()" src="./assets/Images/{{ chevron }}.png" /> -->
        <router-outlet></router-outlet>
      </div>
      
</div>

</body>
</div> 