

   
       <nav>
        <div class="sidebar">
            <header><img src="./assets/Images/slider.png"><h5>Fa Creation</h5></header><br><br>
            <ul>
                <li ><a  [routerLink]="['/product']"> <i class="fa fa-qrcode m-4" ></i> Products</a></li>
                <li><a   [routerLink]="['/userprofile']"> <i class="fa fa-user-circle-o m-4"></i> Profile</a></li>
                <li><a  routerLink="\product"> <i class="fa fa-sign-in m-4"></i> Sign Out</a></li>
        
        
            </ul>
      

    <!-- <div class="col-9 d-flex">
        
        <router-outlet></router-outlet>
    </div> -->

</div>
       </nav>