<nav>
    <div class="sidebar">
        <header><img class="image" width="200px" height="200px" src="./assets/Images/userimg.png"></header><br><br>
        <p class="user-info">Share the seller profile link</p>
        <p class="user-info">Seller phone number 123456789</p>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-12 mt-3">
            <h6 class="products-heading">Seller Name</h6>
            <h3>Published Ad 12</h3>
            <div class="row mt-3">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="product-card mt-3">
                        <div class="card" style="width: 18rem;">
                            <img src=" assets/Images/RecentProducts.png" class="card-img-top" height="230" width="288" alt="...">
                            <div class="card-body">
                                <div class="container">
                                    <h5 class="product-title">Make up beast deal</h5>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-10 col-sm-12">
                                            <p class="price">Rs: </p>
                                            
                                                <i class="fa fa-heart wishlist-icon"></i>
                                                <i class="fa fa-eye eye-icon"></i>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><br />
        </div>
    </div>
</div>