
a{
    margin-left: 50px;
}
.products-heading{
    margin-left: 300px;
margin-top: -30%;
}
.card{
background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.25);
margin-left: 72%;
margin-top: -20px;
}
h3{
    margin-left: 300px; 
    margin-top: 10px; 
}
.SelImg{
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    border: 1px solid #26A5B9;
    border-radius: 50%;
 
}
.product-card{
  margin-left: 90%;
   margin-top:10%;


}