<div class="product">
    <div class="d-flex">
        <div class="product-field">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Products</h1>
                </div>
                <div class="col-sm-6">
                    <div class="topImg mt-5"><img title="Online Sell and Buy" src="./assets/Images/logo copy 2.png">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="input-group mx-5">
                        <span class="input-group-append d-flex">
                            <input class="form-control py-2 input" type="search" placeholder="Search products" />
                            <button class="btn search-btn " type="button" [routerLink]="['/shop/search']">
                                <i class="fa fa-search"></i>
                            </button>
                            <div class="col-sm-6">
                                <button class="save-btn" (click)="addProduct()">Add Product</button>
                            </div>
                        </span>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="d-flex">
        <div class="row mt-4">
            <div class="col-sm-3 mx-5" *ngFor="let product of products">
                <div class="product-card ">
                    <div class="card" style="width: 17rem;">
                        <img src={{product.imageLink}} class="" height="250" width="288" alt="...">
                        <div class="card-body">
                            <div class="container">
                                <p class="product-title ">{{product.name}}</p>
                                <div class="row">
                                    <div class="col-lg-9 col-md-10 col-sm-12">
                                        <p class="price">Rs: {{product.price}}</p>
                                    </div>
                                    <div class="operation ">
                                        <i class="fa fa-eye mx-2 icon "
                                            [routerLink]="['/product-details',product.productId]"></i>
                                            <i [routerLink]="['/editproduct',product.productId]" class="fa fa-pencil mx-2 icon"></i>
                                        <i class="fa fa-trash mx-2 icon trash"
                                            (click)="deleteUserProduct(product.productId)"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>
</div>