.input-field {
    margin-left: 280px;
    width: 754px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.form-field-title {
    margin-left: 280px;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
}
p{
   margin-left: -12px; 
}
.input-field1 {
    width: 756px;
    height: 177px;
    margin-left: 280px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.upload-image {
    width: 111px;
    height: 111px;
    margin-left: 280px;
    background: #D9D9D9;
    border-radius: 10px;
}

.img-upload-icon {
    margin-left: 50px;
    width: 20px;
    height: 20px;
    background: #D9D9D9;
}

.form-label{
    margin-left: 275px;
font-weight: 500;
font-size: 17px;
color: #000000;

}
 .radio-btn{
    background: white;
    margin-left: 275px;

 }
 .radio-btn1{
    background: white;
    margin-left: 675px;

 }
.form-control{
    width: 350px;
    margin-left: 270px;
}
.Radio-group-label{
    font-weight: 500;
    font-size: 17px;
    line-height: 22px; 
    color: #000000;
    margin-left:275px ;
}
.Radio-group-label1{
    font-weight: 500;
    font-size: 17px;
    line-height: 22px; 
    color: #000000;
    margin-left: 675px;
}
.button{
    width: 99px;
    margin-left: 74%;
 
    background: #26A5B9;
    border-radius: 10px;
    color:#FFFFFF;
    text-align: center;
    }