<div class="container">
    <form  [formGroup]="addProductForm" (ngSubmit)="onSubmitAddProduct()" novalidate>
        <br /><br />
        <div class="row">
            <div class="col-lg-3 col-md-2 col-sm-12">
                <label class="form-field-title">Category</label>
                <select class="form-select option" formControlName="categoryId" [(ngModel)]="categoryId"
                    (change)="GetSubCategoriesById()" required>
                    <option [value]="Category.categoryId" *ngFor="let Category of Categories">
                        {{ Category.name }}
                    </option>
                </select>
            </div>

            <br />
            <div class="row">
                <div class="col-lg-3 col-md-2 col-sm-12 mt-4">
                    <label class="form-field-title">SubCategory</label>
                    <select class="form-select option" formControlName="SubCategoryId" required>
                        <option [value]="subCategory.subCategoryId" *ngFor="let subCategory of subCategories">
                            {{ subCategory.name }}
                        </option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-2 col-sm-12 mt-4">
                    <label class="form-field-title">Product Title</label>
                    <input class="form-select form-field" name="add-title" formControlName="Name"
                        placeholder="Add your product name" required />
                    <!-- <span class="errorValdation" *ngIf="addProductForm.controls.name.touched &&
                         addProductForm.controls.name.errors?.required">Please enter Views</span>      -->
                </div>
            </div>


            <div class="row">
                <div class="col-lg-3 col-md-2 col-sm-12 mt-4">
                    <label class="form-field-title">Description</label>
                    <input class="input-field1" type="text" formControlName="Description" placeholder="" />
                </div>
            </div>
            <div class="col-12">
                <br />
                <div class="row">
                    <div>    
                        <input
                        style="display: none;" name="profile"
                        type="file" (change)="onAddProductImage($event)"
                        #filesProduct required>
                   </div>
                   <div class="col-12">
                    <label class="form-field-title mt-3"> Images </label><br>
                    <div class="imgs">
                        <div *ngFor="let img of addProductImages">
                       
                            <img class="UploadImg mt-3 mx-2"  src="{{img}}" style="position: relative;top: -15px; left: 270px;">
                           <i class="fa fa-trash" aria-hidden="true" style="position: relative;top: -40px;right: 22px;left:245px ;;color: red;cursor: pointer;" (click)="removeImg(img)"></i>
                        </div>
                        <div class="img-upload form-control d-pointer" (click)="filesProduct.click()">
                            <i class="fa fa-cloud-upload img-upload-icon" aria-hidden="true"></i>
                            <p >Upload</p>
                        </div>
                    </div>
                   </div>
                </div>
                <!-- <div class="upload-image">
                    <i class="fa fa-cloud-upload img-upload-icon mt-5"><br />
                        <p>upload</p>
                    </i>
                </div> -->
            </div>
            <div class="col-md-4 mt-3">
                <label class="form-field-title">Location</label>
                <select class="form-control option" formControlName="ProvinceName" [(ngModel)]="provinceId" 
                    (change)="GetCitiesById()" required>
                    <option [value]="province.provinceId" *ngFor="let province of provinces">
                        {{ province.name }}
                    </option>
                </select>
            </div> 
            <div class="col-md-6 mt-3">
                <label class="form-field-title" >City</label> 
                       <select class="form-control option" formControlName="CityName" required>
                           <option [value]="city.name" *ngFor="let city of cities">
                               {{ city.name }}
                           </option>
                       </select>
            </div>
            <div class="col-md-4 mt-3">
                <label class="form-label">Area</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-6 mt-3 ">
                <label class="form-label">Price</label>
                <input type="text" class="form-control" formControlName="Price">
            </div>

            <div class="row">
                <div class="col-6 mt-4">
                    <mat-radio-group>
                        <label class="Radio-group-label">Condition</label><br />
                        <mat-radio-button class="radio-btn" value="1">Old</mat-radio-button>
                        <mat-radio-button class="" value="2">New</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="col-6 mt-4">
                    <mat-radio-group>
                        <label class="Radio-group-label1">Target</label><br />
                        <mat-radio-button class="" value="3">Men</mat-radio-button>
                        <mat-radio-button class="" value="4">Women</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="row">
                    <div class="col-sm-10 asset-section-fields">
                        <input type="submit" class="fr save-btn padding pointer btns" *ngIf="addProductLoading == false"  value="Publish" name="editForm-submit" [disabled]="addProductForm.invalid">
                        <img class="my-image button-post1" src="./assets/Images/loading.gif" *ngIf="addProductLoading"  width="30"  height="30">
                        <!-- <button type="button" class="text-right cnl-btn-crd btn-cancel" (click)="modal.close('Save click')">Cancel</button> -->
                    </div> 
                </div> 
            </div>
        </div>
        <br /> <br />

    </form>
</div>