<div class="container">
    <form (ngSubmit)="onSubmitAddProduct()" novalidate>
        <br /><br />
        <div class="row">
            <div class="col-lg-3 col-md-2 col-sm-12">
                <label class="form-field-title">Categories</label>
                <input class="input-field" type="text" placeholder="search" />
            </div>



            <div class="row">
                <div class="col-lg-3 col-md-2 col-sm-12 mt-4">
                    <label class="form-field-title">Product Title</label>
                    <input class="input-field" type="text" placeholder="" />
                </div>
            </div>


            <div class="row">
                <div class="col-lg-3 col-md-2 col-sm-12 mt-4">
                    <label class="form-field-title">Description</label>
                    <input class="input-field1" type="text" placeholder="" />
                </div>
            </div>
            <div class="col-12">
                <br />
                <div class="upload-image">
                    <i class="fa fa-cloud-upload img-upload-icon mt-5"><br />
                        <p>upload</p>
                    </i>
                </div>
            </div>

            <div class="col-md-4 mt-3">
                <label class="form-label ">Location</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-6 mt-3">
                <label class="form-label">City</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-4 mt-3">
                <label class="form-label">Area</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-6 mt-3 ">
                <label class="form-label">Price</label>
                <input type="text" class="form-control">
            </div>

            <div class="row">
                <div class="col-6 mt-4">
                    <mat-radio-group>
                        <label class="Radio-group-label">Condition</label><br />
                        <mat-radio-button class="radio-btn" value="1">Old</mat-radio-button>
                        <mat-radio-button class="" value="2">New</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="col-6 mt-4">
                    <mat-radio-group>
                        <label class="Radio-group-label1">Target</label><br />
                        <mat-radio-button class="" value="3">Men</mat-radio-button>
                        <mat-radio-button class="" value="4">Women</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="button mt-5">
                    <button type="submit" class="btn">Publish</button>
                </div>
            </div>
        </div>
        <br /> <br />
    </form>
</div>