.slider{
    margin-top: 5px;
 }
.products-card{
    padding: 0px 10px 10px 10px;
}
.view-more{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #26A5B9;
    margin-top: 10px;

}

.b-n-product
{
    clip-path: polygon(19% 0, 22% 92%, 100% 92%, 100% 100%, 75% 100%, 30% 100%, 0 100%, 0 0) !important;
}