.slider {
    margin-top: 30px;
}

.product-card {
    background: #FFFFFF;
    margin-left: 10px;
}

.products-heading {
    width: 1290px;
}

.product-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}