<div class="container">
    <img class="slider " height="275" width="1300" title="Online Sell and Buy" src="assets/Images/slider.png"><br><br>

    <div class="col-12 mt-3">
        <h6 class="products-heading">Recent Products</h6>
    </div>
    <div class="row mt-3">
        <div class="col-lg-3 col-md-4 col-sm-12" *ngFor="let RecentProduct of RecentProducts">
            <div class="product-card mt-3">
                <div class="card" style="width: 18rem; ">
                    <img src={{RecentProduct.imageLink}} [routerLink]="['/product-details',RecentProduct.categoryId]" class="card-img-top" height="230" width="288" alt="...">
                    <div class="card-body">
                        <div class=" container">
                            <h5 class="product-title d-pointer" [routerLink]="['/product-details',RecentProduct.categoryId]">{{RecentProduct.name}}</h5>
                            <div class="row">
                                <div class="col-lg-9 col-md-10 col-sm-12">
                                    <p class="price">Rs: {{RecentProduct.price}}</p>
                                    <div class="col-lg-3 col-md-2 col-sm-12">
                                        <i class="fa fa-heart wishlist-icon"></i>
                                        <i class="fa fa-eye eye-icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br />
    <div class="col-12 mt-3">
        <h6 class="products-heading">New Products</h6>
    </div>
    <div class="row mt-3">
        <div class="col-lg-3 col-md-4 col-sm-12" *ngFor="let NewProduct of NewProducts">
            <div class="product-card mt-3">
                <div class="card" style="width: 18rem;">
                    <img src={{NewProduct.imageLink}} class="card-img-top" height="230" width="288" alt="...">
                    <div class="card-body">
                        <div class="container">
                            <h5 class="product-title">{{NewProduct.name}}</h5>
                            <div class="row">
                                <div class="col-lg-9 col-md-10 col-sm-12">
                                    <p class="price">Rs: {{NewProduct.price}}</p>
                                    <div class="col-lg-3 col-md-2 col-sm-12">
                                        <i class="fa fa-heart wishlist-icon"></i>
                                        <i class="fa fa-eye eye-icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br />
    <div class="col-12 mt-3">
        <h6 class="products-heading">Used Products</h6>
    </div>
    <div class="row mt-3">
        <div class="col-lg-3 col-md-4 col-sm-12" *ngFor="let ProductDetail of ProductDetails">
            <div class="product-card mt-3">
                <div class="card" style="width: 18rem;">
                    <img src={{ProductDetail.imageLink}} class="card-img-top" height="230" width="288" alt="...">
                    <div class="card-body">
                        <div class="container">
                            <p class="product-title " >{{ProductDetail.name}}</p>
                            <div class="row">
                                <div class="col-lg-9 col-md-10 col-sm-12">
                                    <p class="price">Rs: {{ProductDetail.price}}</p>
                                </div>
                                <div class="col-lg-3 col-md-2 col-sm-12">
                                    <i class="fa fa-heart wishlist-icon"></i>
                                    <i class="fa fa-eye eye-icon"></i>


                                </div>
                            </div>

                        </div>
                        <!-- <h5 class="card-title">{{ProductDetail.name}}</h5>
                            <p class="price">Rs: {{ProductDetail.name}}</p>
                            <i class="fa fa-heart wishlist-icon"></i>
                            <i class="fa fa-eye eye-icon"></i> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<br />