thead {
  background-color: #B5EFF0;
}

.navbar .dropdown-menu-right {
  right: 0;
  left: auto;
}

.top-bar {
  background: #26A5B9;
}

::placeholder {
  padding: 5px !important;
}

.logo-top {
  margin-left: 80px;
}

.form-control {
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}

.search-btn-navbar {
  border-radius: 1px;
  color: #26A5B9;
  background-color: #B5EFF0;
  padding: 9.8px 15px;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}


.navbar-head {
  background-color: #26A5B9;
  padding: 0px 0px 0px 30px;
  position: fixed;
  width: 100%;
  z-index: 100;
  height: 15%;
}

.Navbar-title {
  text-transform: uppercase;
  font-family: Simonetta;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}

.navber-text {
  margin-right: 25px !important;
}

::placeholder {
  font-family: Source Sans Pro;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  margin-left: -10px !important;
}

.input-group {
  width: 245%;
  margin-left: 54px;
}

.to-selll-btn {
  margin-left: 39px;
  margin-right: 17px;
  border-radius: 5px;
  padding: 12px 10px 6px 10px;
  background: white;
}

.navbar-link-text {
  color: #FFFFFF;
  cursor: pointer;
  padding-bottom: 25px;
  padding-top: 31px;
  font-family: Source Sans Pro !important;
  font-size: 15px !important;
  font-weight: 600 !important;
  line-height: 20px !important;
  letter-spacing: 0em;
  text-align: center;
}

.navbar-link-text1 {
  color: #FFFFFF;
  cursor: pointer;
  padding-bottom: 19px;
  padding-top: 14px;
  font-family: Source sans pro !important;
  font-size: 15px !important;
  font-weight: 600 !important;
  line-height: 20px !important;
  letter-spacing: 0em;
  text-align: center;
  margin-right: 25px !important;
}

.ActiveRoute {
  border-bottom: 3px solid;
}

.fa-shopping-cart {
  color: #FFFFFF !important;
  width: 30px;
}

.dropdown-toggle::after {
  color: white !important;
}

.mobile-view {
  display: none;
}

.menu-navebarr {
  /* margin-top: 100px; */
  background: #B5EFF0;
  ;
}

@media (max-width:768px) {
  .navbar-link-text {
    font-family: Source Sans Pro;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    padding-bottom: 0px;
    padding-top: 0px;
  }
}

@media (max-width:560px) {
  .navbar-expand-lg {
    display: none;
  }

  .mobile-view {
    display: contents;
  }

  .navbar-link-text {
    padding-bottom: 0px;
    padding-top: 0px;
  }

  :root {
    --home-bg-color: #f2f3ee;
    --menu-bg-color: #cbcbc2;
    --silde-btn-border: #808080;
    --slide-btn-bg: #ddf2db;
    --slide-btn-hoverbg: #f1fff1;
    --alpha-green: rgba(33, 96, 47, 0.51);
    --icon-hover-color: #344a39;
    --icon-hover-bg: #709680;
    --text-color: #616161;
    --border-color: #709680;
    --heading-color: #344a39;
    --box-shadow-color: #b5b5ac;
    --lightest-green: #86a58d;
    --light-green: #9ab09a;
    --dark-green: rgba(52, 74, 57, 0.86);
    --box-shadow: 0px 0px 3px 5px var(--box-shadow-color);
    --border-radius: 60px 5px;
    --fade-green: rgba(57, 87, 64, 0.55);
  }

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  }

  body,
  html {
    width: 100%;
    font-size: 10px;
    color: var(--text-color);
    font-weight: normal;
    font-family: sans-serif;
    background-color: var(--home-bg-color);
  }

  #ham-menu {
    display: none;
  }

  label[for="ham-menu"] {
    display: block;
    position: fixed;
    top: 24px;
    left: 20px;
    z-index: 999;
    border: 2px solid var(--border-color);
  }

  .ham-menu {
    width: 70vw;
    height: 100%;
    position: fixed;
    top: 0;
    visibility: hidden;
    transform: translate(-110%);
    z-index: 998;
    background-color: #000000;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ham-menu>ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    padding: 20px;
    height: 50%;
  }

  .ham-menu>ul>li {
    font-size: 18px;
    white-space: nowrap;
    letter-spacing: 0.15em;
    cursor: pointer;
    color: white;
  }

  .mobile-Nav-heading {
    text-transform: uppercase;
    line-height: 40px;
    font-size: 18px;
    font-weight: 900;
    font-family: Source Sans Pro;
  }

  .dropdown-toggle {
    text-transform: capitalize;
    line-height: 40px;
    font-size: 18px;
    font-weight: 700;
    font-family: Source Sans Pro;
  }

  .mobile-view-text {
    text-transform: capitalize;
    line-height: 40px;
    font-size: 18px;
    font-weight: 700;
    font-family: Source Sans Pro;
  }

  #ham-menu:checked+label {
    background-color: #000000;
    border-color: var(--dark-green);
    height: 40px;
    width: 40px;
    margin-left: 50vw;
    color: white;
  }

  #ham-menu:checked~div.ham-menu {
    transform: translate(0px);
    visibility: visible;
  }

  .full-page-green {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark-green);
    z-index: 997;
    opacity: 0;
    visibility: hidden;
    display: none;
    transition: 500ms;
    position: fixed;
    top: 0;
    left: 0;
  }

  #ham-menu:checked~div.full-page-green {
    display: block;
    opacity: 1;
    visibility: visible;
  }

  [for="ham-menu"]>div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
  }

  .menu-line {
    display: block;
    width: 17px;
    height: 2px;
    margin: 10px 0 5px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: var(--border-color);
    transition: 500ms;
    transform-origin: right center;
  }

  p {
    display: inline;
    font-size: 18px;
    line-height: 1.5em;
    word-spacing: 0.5em;
    letter-spacing: 0.1em;
    font-family: Source Sans Pro;
  }

  a {
    font-size: 18px;
    line-height: 1.5em;
    word-spacing: 0.5em;
    letter-spacing: 0.1em;
    font-family: Source Sans Pro;
    display: inline;
    font-weight: bold;
    padding: 7px;
    color: var(--icon-hover-bg);
  }

  a::after {
    content: "\e806";
    display: inline-block;
    font-family: fontello;
    padding: 5px;
    font-size: 18px;
    transform: rotate(-90deg);
  }

  .text {
    font-size: 18px;
    line-height: 1.5em;
    word-spacing: 0.5em;
    letter-spacing: 0.1em;
    font-family: Source Sans Pro;
  }

  .title {
    font-size: 18px;
    line-height: 40px;
    word-spacing: 0.5em;
    letter-spacing: 0.1em;
    font-family: Source Sans Pro;
    color: var(--icon-hover-bg);
    padding: 10px;
  }

  .heading {
    font-size: 18px;
    line-height: 40px;
    word-spacing: 0.5em;
    letter-spacing: 0.1em;
    font-family: Source Sans Pro;
  }

  .centre-text {
    text-align: center;
  }

  .bold-text {
    font-weight: 600;
  }

  .mobile-View-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
  }

  .ActiveRouteMobile {
    font-size: 22px;
    font-weight: 900;
    color: blue !important;
    font-family: Source Sans Pro;
  }
}

.dropdown-text {
  font-family: Source Sans Pro !important;
  font-size: 15px !important;
  font-weight: 600 !important;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropbtn {
  cursor: pointer;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}