.card {

    margin-left: 0px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.image-field {
    margin-left: 6px;
    cursor: pointer;
}

.description-card {
    width: 385px;

    margin-left: 10px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.sc-number {
    font-size: 20px;
    color: #817a7a;
    margin-left: 10px;

}

.wishlist-icon {
    font-size: 20px;
}

.icon:hover {
    color: #26a5b9;
}

.image-row .imageList {
    min-width: 110px;
    line-height: 110px;
    text-align: center;
    transition: 0.4s linear;
}

.image-row .imageList:hover {
    transform: scale(1.0);
    box-shadow: 1px 5px 10px rgb(151, 151, 151);
}
.image-row {
    max-width: 100%;
    /* border:1px solid #ddd ; */
    display: flex;
    overflow: auto;
}

.image-row::-webkit-scrollbar {
    height: 5px;
}

button {
    width: 65px;
    height: 30px;
    color: #26A5B9;
    background: #B5EFF0;
    border-radius: 5px;
    border-color: #B5EFF0;
    
}
.icon:hover, button:hover {
    background-color: #ddd;
  }

.products-heading {
    width: 100%;
}

.seller-description-title {
    clip-path: polygon(50% 0, 56% 92%, 100% 92%, 100% 100%, 75% 100%, 30% 100%, 0 100%, 0 0) !important;
}

.description-title {
    clip-path: polygon(16% 0, 19% 92%, 100% 92%, 100% 100%, 75% 100%, 30% 100%, 0 100%, 0 0) !important;
}
.Posted-title{
    clip-path: polygon(30% 0, 35% 92%, 100% 92%, 100% 100%, 75% 100%, 30% 100%, 0 100%, 0 0) !important;
}
.card-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.sellerName {
    font-size: 20px;
    margin-top: 10px;
}

.profile-img {
    border-radius: 100%;
    margin-left: 20px;
}

.img-fluid {
    margin-top: 10px;
    margin-left: 22px;
    height: 350px;
}
.image-row {
    margin: 10px 10px 10px 30px;
    height: 150px;
    display: flex;
    overflow: auto;
   width: 48.2rem;
}
.image-row img {
    margin-top: 25px;
width: 100px;
justify-content: space-around;
}

.chat-seller-btn {
    margin-left: 15rem;
    width: 10rem;
    font-size: 15px;
    background: none;
    color: #000;
    border: 1px solid #26A5B9;
}

.btn2 {
    height: 30%;
    backdrop-filter: contrast(0.8);
    background-color: transparent;
    margin-top: 9rem;
    border-radius: 20px;
    float: right;
    width: 20px;
    color: #FFFFFF;
    border: none;
    margin-left: 40px;
}

.price {
    float: right;
}

.price-title {
    font-size: large;
}

.btn1 {
    height: 30%;
    backdrop-filter: contrast(0.8);
    background-color: transparent;
    margin-top: 9rem;
    border-radius: 20px;

    width: 20px;
    color: #FFFFFF;
    border: none;
}
.product-date{
   float: right;
}
.posted-card{
    margin-top: -10rem ;

}
.add-image{
    margin-top: 40px;
}
.description{
    height: 290px;
}
.product-card:hover {
    transform: scale(1.0);
    box-shadow: 1px 5px 10px rgb(151, 151, 151);
    width: 288px;
    border-radius: 10px;
}
