.card{
   
    margin-left: 80px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px ;
}
.image-field{
    margin-left: 6px;
}
 .description-card{
    width: 385px;
   
   margin-left: 10px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px;
} 
button{
 width: 65px;
height: 30px;


color: #26A5B9;
background: #B5EFF0;
border-radius: 5px;
border-color:#B5EFF0 ;
}
.products-heading{    
height: 57px;
} 
                 