 
 <div class="row " class="d-flex">
    <div class="col-12">
        <div class="d-flex">
        <h1>Profile Setting</h1>
    </div>
</div>
    <div class="col-4 " >
        <div class="logo"> <img src="./assets/Images/logo.png">
        </div>
    </div>


    <div class="profile">
        <div class="profile-info"><img src="assets/Images/userimg.png" class="" >&nbsp;
            <div class="button1"><button class="btn mx-5"><i class="fa fa-cloud-upload"></i>    profile</button></div></div>
    </div>
    <div>
        <div class="firstname">
            First Name <input type="text" class="form-control" placeholder="First Name" value="">

        </div>
        <div class="lastname">
            
          Last Name  <input  class="input-feild" type="text" class="form-control" placeholder="Last Name" value="">
        </div>
        <div class="email">
            E-Mail<input type="text" class="form-control" placeholder="E-Mail" value="">
        </div>
        <div class="phone">
            Phone No <input type="text" class="form-control" placeholder="Phone No" value="">
        </div>
        <div class="button">
            <button class="btn">Save Change</button>
        </div>
    </div>

</div>
