

<nav class=" menu-navbar">
  <ul class="nav justify-content-center second-heading" style="padding: 10px;">

    <li class="nav-item d-flex">
      <div class="" *ngFor="let category of Categories;let i = index">
        <div class="dropdown " style="float:right;">

          <a class="nav-link active  dropbtn" [routerLink]="['/category-products/',category.categoryId,'category']"
            (mouseenter)="getSubCategory(category.categoryId)">{{category.name}}</a>
          <div class="dropdown-content">
            <ul class="list">
              <li *ngFor="let Subcategory of SubCategoriesData"> <a
                  [routerLink]="['/category-products/','Subcategory',Subcategory.subCategoryId]"
                  class="ngbDropdownItem">{{Subcategory.name}}</a></li>
            </ul>
          </div>

        </div>
      </div>
      <div>
        <a class="nav-link" *ngIf="ShowSeeAll==true" [routerLink]="['/categories']">See All...</a>
      </div>
    </li>

  </ul>

</nav>