<div class="container-fluid">
    <div class="row ">
        <div class="category col-sm-4 col-md-3">
            <ul>
                <h1>Categories</h1>
                <li *ngIf="loading==true" style=" list-style: none;">
                
            </li> 
                <li *ngFor="let category of Categories">
                    <div class="text-center" (mouseenter)="getSubCategory(category.categoryId)">
                        <a [routerLink]="['/category-products/',category.categoryId,'category']">{{category.name}}</a>
                    </div>
                </li>


            </ul>
        </div>
        <div class="sub-list col-md-9 col-sm-8">
            <ul>
                <div class="row">
                    <h1>Sub_Categories</h1>
                    <li *ngIf="loading==true" class="row " style=" list-style: none;">
                    </li>
                    <li class="row sub">
                        <div class="col-sm-3 col-md-4 " *ngFor="let subCategory of SubCategoriesData">
                            <a href="{{subCategory.name}}"
                                [routerLink]="['/category-products/','Subcategory',subCategory.subCategoryId]">{{subCategory.name}}
                            </a>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
    </div>
    <br /><br />
</div>