.container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.userlist-card {
    height: 32.4rem;
}

.user-card {
    height: 30rem;
    overflow: hidden;
}

.text-card {
    height: 30rem;
}

.card h1 {
    margin-top: 25px; 
    margin-bottom: 3px;
}

.active-time {
    width: 90px;
    margin: 5px -80px 50px 50px;
}

.profile-img {
    border-radius: 90px;
    margin-top: -50px;
}

.user-list{
    min-height: fit-content;
  padding: -20px;
  
    }
.user-list {
    border-bottom: 1px solid rgb(209, 208, 208);
}

.user-list:hover {
    background-color: rgb(245, 245, 245);
}

.user-name {
    margin-left: 20px;
    margin-top: -20px;
}

.last-message {
    margin-left: 20px;
    color: #ddd;
    margin-top: -10px;
}

.chat {
    width: fit-content;
    height: fit-content;
    padding: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    margin-left: 25px;
    font-size: 16px;
    line-height: 19px;
    color: #1F2D3B;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 10px 10px;
}

.scroll-container {
    height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
}

#message-time1 {
    margin-left: 25px;
    color: #b4c5cc;
    font-size: medium;
}

.chat2 {
    color: #a1b0b7;
    font-size: medium;
    padding: 5px;
    float: right;
}

.chatImg1 {
    border-radius: 0 10px 10px 10px;
    border: 2px solid rgb(203, 203, 203);
    padding: 5px;
}

.chattext2 {
    width: fit-content;
    height: fit-content;
    padding: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #1F2D3B;
    border: 1px solid aliceblue(0, 0, 0, 0.25);
    border-radius: 10px 10px 10px 10px;
    background-color: #26A5B9;
    color: aliceblue;
}

.text-to-start {
    font-size: 20px;
    margin-left: 19rem;
    margin-top: 10px;
}

.input-card {
    width: 103%;
    height: 40px;
    margin-top: 10px;
    margin-left: -12.5px;
}

.sendIcon {
    font-size: large;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 0;
    color: deepskyblue;
    background-color: transparent;
    border: none;
}

.sendIcon:hover {
    background-color: #ddd;
}

.form-control {
    border: none;
}