<div class="container">
    <div class="row " class="d-flex">
        <div class="col-8">
            <div class="d-flex mt-5">
                <h1>Profile Setting</h1>
            </div>
        </div>
        <div class="col-4 mt-5">
            <div class="logo"> <img src="./assets/Images/logo.png">
            </div>
        </div>
    </div>
    <div class="row">

        <div class=" col-5 mt-5">
            <label> First Name</label>
            <input ngModel="{{userList.firstName}}" class="input-feild w-100 " type="text" name="firstName"
                placeholder="First Name" #firstName="ngModel" required>
            <span class="errorValdation" *ngIf="firstName.touched && firstName.errors">Please enter
                firstName</span>
        </div>
        <div class="col-5 mt-5">
            <label> Last Name</label>
            <input ngModel="{{userList.lastName}}" class="input-feild w-100 " type="text" name="lastName"
                placeholder="Last Name" #lastName="ngModel" required>
            <span class="errorValdation" *ngIf="lastName.touched && lastName.errors">Please enter lastName</span>
        </div>
        <div class="col-10 mt-5">
            <label>E-Mail</label>
            <input ngModel="{{userList.email}}" class="input-feild w-100" placeholder="E-Mail" #email="ngModel">
            
        </div>
        <div class="col-10 mt-5">
            <label> Phone Number</label>
            <input ngModel="{{userList.phoneNumber}}" type="text" class="input-feild w-100" placeholder="Phone No"
                #phoneNumber="ngModel">
        </div>
        <div class="col-10 mt-5">
            <label> WhatsApp Number</label>
            <input ngModel="{{userList.whatsAppNumber}}" type="text" class="input-feild w-100"
                placeholder="WhatsApp Number" #phoneNumber="ngModel">
        </div>
        <div class="col-10 mt-5">
            <label> address</label>
            <input ngModel="{{userList.address}}" type="text" class="input-feild w-100" placeholder="Address"
                #phoneNumber="ngModel">
        </div>

        <div class="col-2 ">
            <div class="profile-info "><img src="{{userList.profileImage}}" width="280px" height="250px" class="">&nbsp;
                <button> <i class="fa fa-cloud-upload"></i>Profile</button>
            </div>
        </div>

        <div class="button mt-5">
            <button class="btn">Save Change</button>
        </div>
    </div>

</div>
