h1 {
  margin-left: 40px;
    top: 60px;
    font-weight: 500;
    color: #000000;
}
.logo {
  margin-left: 350px; 
}
 .profile-info {
margin-top: -280px;
    margin-left: 200px;
    border-radius: 50%;
}
.profile-info button{
     margin-left: 80px;
     background-color: #26A5B9;
    border-color: #26A5B9;
     width: 100px;
     border-radius: 10px;
     color: #FFFFFF;
     height: 30px;
    margin-top: 10px;
}
.input-feild {
    padding: 5px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid silver;
    outline: none;
  margin-left: 90px;
}
.button {  
    height: 39px;
   width: 141px;
   margin-left: 100px;
    color: #FFFF;
    background: #26A5B9;
    border-radius: 10px;
}
label{
    margin-left: 100px;  
}
