.input-group{
    width: 82%;
    margin-left: 20px
  }
  .search-btn{
    background-color:#B5EFF0;
    border:1px solid #26A5B9  ;
    border-left: 0;
border-radius: 0 10px 10px 0;
  }
  .input{
border:1px solid #26A5B9;
border-right: 0;
border-radius: 10px 0px 0px 10px;}
.topImg{
    position: absolute;
width: 221px;
height: 90px;
left: 1174px;
top: 20px;
}
.card img{
    width: 242px;
    height: 199px;
}
.card{
    border: none;
    outline: none;
    background-color: #ffff;
   border-radius: 0;
    border: 1px solid silver;
    width: 243px;
    height: 320px;
    display: flex;
}
.title{
    Font:Roboto;
font-weight:500;
Size:16px;
line-height:18.75px;
   text-align: left;
}
.price{
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 28px;

color: #000000;


}
.p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
margin-right: 40px;
color: rgba(0, 0, 0, 0.25);
}
.icon{
cursor: pointer;
font-size: x-large;
margin: -10px;
}
.icon:hover{
color:#26A5B9;    
}
